* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  background-color: #f2ebe3;
  color: #6c7289;
}

.container {
  max-width: 60rem;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  background-color: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 100%;
}

.text-box {
  padding: 3.2rem;
}

.product-name {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 2.4rem;
}

.product-heading {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 3.6rem;
  color: #1c232b;
  margin-bottom: 2.4rem;
}

.product-text {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.product-pricing {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.product-price {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 3.6rem;
  color: #3c8067;
}

.price-slash {
  text-decoration: line-through;
}

.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-weight: 700;
  background-color: #3c8067;
  color: #fff;
  padding: 1.6rem 0;
  text-decoration: none;
  border-radius: 0.8rem;
  transition: all 0.4s;
}

.btn:hover,
.btn:active {
  background-color: #1b4133;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: #1c232b;
  margin-bottom: 1.6rem;
}
.attribution a {
  color: #3c8067;
}
